.sidebar {
  width: var(--menu-sidebar-width);
  height: 100vh;
  background-color: var(--menu-bg-color);
  color: var(--menu-text-main);
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  justify-content: flex-start;

  padding: 24px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

/* ЛОГОТИП */
.logo-section {
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 12px;
  margin-bottom: 40px;
}

.logo-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* МЕНЮ */
.menu-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-section a {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: var(--menu-text-muted);
  text-decoration: none;
  transition: all 0.3s ease;
  gap: 15px;
}

.menu-section a i {
  width: 20px;
  text-align: center;
}

.menu-section a:hover {
  background-color: var(--menu-hover-bg);
  color: var(--menu-text-main);
  border-left: 4px solid var(--menu-accent-color);
  padding-left: 20px;
}

.menu-lang {
  margin-top: auto;
  display: flex;
  justify-content: flex-end; /* Прижимает всё меню к правому краю */
  padding: 10px;
}

.menu-lang ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.menu-lang li {
  display: flex;
  align-items: center;
}

.menu-lang button {
  border: none;
  outline: none;
  background: transparent;
}

.menu-lang img {
  width: 35px;
  height: auto;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s;
}

/* Эффект при наведении */
.menu-lang img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* Стиль для активного языка (если вы добавили класс [class.active]) */
.menu-lang .active img {
  border: 2px solid #007bff;
  border-radius: 4px;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--menu-sidebar-width);
  height: 100vh;
  z-index: 1000;

  transition: transform 0.3s ease;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}
