<div class="page-container">
  <header class="section-header">
    <h1 class="title">{{ langService.translate('skills.title') }}</h1>
    <p class="subtitle">{{ langService.translate('skills.subtitle') }}</p>
  </header>

  <div class="standard-grid">
    @for (skill of skillService.skills(); track $index){
      <div class="base-card skill-card-layout">
        <div class="card-icon">
          <fa-icon [icon]="getIcon(skill.icon)"></fa-icon>
        </div>
        <h3>{{ skill.label }}</h3>
        <div class="tags-container">
          @for (item of skill.skills; track $index){
            <span class="tag" [class.primary]="item.isPrimary">
              {{item.name}}
            </span>
          }
        </div>
      </div>
    }
  </div>
</div>
