<div class="page-container">
  <header class="section-header">
    <h1 class="title">{{ langService.translate('projects.title') }}</h1>
    <p class="subtitle">{{ langService.translate('projects.subtitle') }}</p>
  </header>

  <div class="standard-grid">

    @for (project of projectService.projects(); track $index){
      <div class="base-card">
        <div class="project-image-container">
          <img src="me.png" alt="project img" class="project-image">
        </div>

        <div class="project-content">
          <h3>{{ project.title }}</h3>
          <p class="project-desc">
            {{ project.description }}
          </p>

          <div class="tags-container">
            @for (tag of project.tags; track $index){
              <span class="tag" [class.primary]= tag.isPrimary>
                {{ tag.name }}
              </span>
            }
          </div>

          <a href="{{ project.link }}" target="_blank" class="github-link">
            <fa-icon [icon]="faCode"></fa-icon>
            Source code
          </a>
        </div>
      </div>
    }

<!--    <div class="base-card">-->
<!--      <div class="project-image-container">-->
<!--        <img src="me.png" alt="Project 1" class="project-image">-->
<!--      </div>-->

<!--      <div class="project-content">-->
<!--        <h3>Система управления задачами</h3>-->
<!--        <p class="project-desc">Полнофункциональное приложение для трекинга задач с ролями пользователей и уведомлениями.</p>-->

<!--        <div class="tags-container">-->
<!--          <span class="tag primary">Angular</span>-->
<!--          <span class="tag primary">NestJS</span>-->
<!--          <span class="tag">PostgreSQL</span>-->
<!--        </div>-->

<!--        <a href="https://github.com/yourusername/project" target="_blank" class="github-link">-->
<!--          <fa-icon [icon]="faCode"></fa-icon>-->
<!--          Source code-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</div>
