<div class="about-page">

  <section class="hero-section">
    <div class="hero-content">
      <h1 class="main-title">{{ profileService.profile()?.name }}</h1>
      <h2 class="main-subtitle">{{ profileService.profile()?.subtitle }}</h2>
      <div class="hero-badge">{{ profileService.profile()?.availabilityText }}</div>
    </div>
  </section>

  <section class="bio-section">
    <div class="bio-container">
      <div class="bio-image">
        <img src="me.png" alt=" {{ profileService.profile()?.name }}">
      </div>
      <div class="bio-text">
        <h3>{{ langService.translate('about.title') }}</h3>

        @for (para of descriptionList(); track $index) {
          <p>{{ para }}</p>
        }

        <div class="bio-stats">
          @for (stat of statsList(); track stat.id) {
            <div class="stat-item">
              <strong>{{ stat.value }}</strong>
              <span>{{ stat.label }}</span>
            </div>
          }
        </div>
        <div class="bio-lang">
          @for (info of infoList(); track info.id) {
            <div class="stat-item">
              <strong>{{ info.value }}</strong>
              <span>{{ info.label }}</span>
            </div>
          }
        </div>
      </div>
    </div>
  </section>

</div>
